
body {
    background-color: #061E29;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.logos {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.808);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.logo{
    max-width: 50px;
    width: 100%;
    height: auto;
}

.flex-center {
    max-width: 900px;
    margin: auto;
}

.banner {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
.titulo-cr {
    font-family: 'Luckiest Guy', cursive;
    font-size: clamp(32px, 6vw, 64px);
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px 0;

    text-shadow:
        3px 3px 0 #1a1a1a,
        6px 6px 0 #000;
}

h1, h2 {
    color: #f2eeee;
}
h3{
    text-align: center;
    color: #000000;
}
p {
    font-size: 18px;
    color: #f5efef;
}

.reglas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 40px;
}

.card {
    background-color: #0b2b3a;
    padding: 25px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center; /* CENTRA imagen y botón */
}


.imagen {
    width: 100%;
    max-width: 260px;
    margin-bottom: 15px;
}
.imagen{
    transition: transform 0.3s ease;
}
.imagen:hover {
    transform: scale(1.09);
}
.banner{
    transition: transform 0.3s ease;
}
.banner:hover {
    transform: scale(1.02);
}

.descripcion {
    display: none;
    margin-top: 15px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    width: 100%;
    max-width: 320px;
}

button {
    align-items: center;
    appearance: none;
    background-color: #EEF2FF;
    border-radius: 8px;
    border-width: 2px;
    border-color: #536DFE;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px,
                rgba(83, 109, 254, 0.15) 0 7px 13px -3px,
                #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #536DFE;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 56px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
}

.button:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset,
                rgba(83, 109, 254, 0.4) 0 2px 4px,
                rgba(83, 109, 254, 0.3) 0 7px 13px -3px,
                #D6D6E7 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
                rgba(83, 109, 254, 0.2) 0 7px 13px -3px,
                #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
@media (min-width: 768px) {
    .logos {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto 30px;
    }

    .logo-left {
        justify-self: start;
    }

    .logo-center {
        justify-self: center;
        max-width: 140px;
    }

    .logo-right {
        justify-self: end;
    }

    .logo {
        max-width: 120px;
    }
}



